# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [95]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
joined_data_df = pd.merge(study_results, mouse_metadata, how="left", on=["Mouse ID", "Mouse ID"])

# Display the data table for preview
joined_data_df.head(5)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [96]:
# Checking the number of mice.
mice_count = joined_data_df['Mouse ID'].nunique()
mice_count

249

In [97]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mice = joined_data_df[joined_data_df.duplicated(['Mouse ID', 'Timepoint'])]

duplicate_mice_ids = duplicate_mice['Mouse ID'].unique()
# Print the duplicate mouse ID
duplicate_mice_ids

array(['g989'], dtype=object)

In [98]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.000000,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [99]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_joined_data_df = joined_data_df.drop_duplicates(subset=['Mouse ID'], keep= 'first')
cleaned_joined_data_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
245,t565,0,45.0,0,Capomulin,Female,20,17
246,i557,0,45.0,0,Capomulin,Female,1,24
247,m957,0,45.0,0,Capomulin,Female,3,19
248,f966,0,45.0,0,Capomulin,Male,16,17
249,m601,0,45.0,0,Capomulin,Male,22,17

In [100]:
# Checking the number of mice in the clean DataFrame.
# cleaned_mice_count = cleaned_joined_data_df[['Mouse ID','Timepoint']].nunique()
# cleaned_mice_count
total_mice_clean = cleaned_joined_data_df["Mouse ID"].nunique()
total_mice

249

## Summary Statistics

In [115]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
groupby_drug = cleaned_joined_data_df.groupby('Drug Regimen')

tumor_volume_mean_bydrug = groupby_drug['Tumor Volume (mm3)'].mean()
tumor_volume_median_bydrug = groupby_drug['Tumor Volume (mm3)'].median()
tumor_volume_variance_bydrug = groupby_drug['Tumor Volume (mm3)'].var()
tumor_volume_std_bydrug = groupby_drug['Tumor Volume (mm3)'].std()
tumor_volume_SEM_bydrug = groupby_drug['Tumor Volume (mm3)'].sem()

summary_statistics_df = pd.DataFrame({
    'Mean': tumor_volume_mean_bydrug,
    'Median': tumor_volume_median_bydrug,
    'Variance': tumor_volume_variance_bydrug,
    'Standard Deviation': tumor_volume_std_bydrug,
    'SEM': tumor_volume_SEM_bydrug
})

summary_statistics_df

              Mean  Median  Variance  Standard Deviation  SEM
Drug Regimen
Capomulin     45.0    45.0       0.0                 0.0  0.0
Ceftamin      45.0    45.0       0.0                 0.0  0.0
Infubinol     45.0    45.0       0.0                 0.0  0.0
Ketapril      45.0    45.0       0.0                 0.0  0.0
Naftisol      45.0    45.0       0.0                 0.0  0.0
Placebo       45.0    45.0       0.0                 0.0  0.0
Propriva      45.0    45.0       0.0                 0.0  0.0
Ramicane      45.0    45.0       0.0                 0.0  0.0
Stelasyn      45.0    45.0       0.0                 0.0  0.0
Zoniferol     45.0    45.0       0.0                 0.0  0.0

In [61]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)
c
# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [62]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [63]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [64]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [65]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [66]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [67]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [68]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [69]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [70]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [71]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen